body {
  margin: 0;
  background: linear-gradient(black, red, orange);
  background-attachment: fixed;
  color: #fff;
}
p{
    text-align: center;
    margin-top: 5px;
}

.container {
  width: 500px;
  height: 500px;
  background: black;
  margin: 0 auto;
  box-shadow: rgb(249, 248, 250) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  margin-top: 20px;
}

.container h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 50px;
  margin-bottom: 0;
}

.player {
  display: flex;
  justify-content: space-around;
}

.dice{
  padding: 20px;
  background: red;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
}

button {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:active:hover,
button:active:focus {
  background: orange;
}


#rollDice-btn {
  margin-bottom: 20px;
}
#reset-btn,
#risk-btn,
#risk-message {
  display: none;
}





 .active {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}
